<h2> Welcome to the Diary </h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Entry</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (c of diaryEntries; track c.date; let i = $index) {
        <tr>
            <td>{{c.date}}</td>
            <td>{{c.entry}}</td>
            <td>
                <button (click)="onEdit(i)" class="btn btn-light"> Edit </button>
                <button (click)="onDelete(i)" class="btn btn-danger"> Delete </button>
            </td>
        </tr>
    }
    </tbody>
</table>